@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans antialiased text-slate-900 bg-white;
    }
}

.glass-nav {
    @apply bg-white/80 backdrop-blur-md border-b border-slate-200/50;
}